---
import Hamburger from './Hamburger.astro'
import Navigation from './Navigation.astro'
import './styles/header.css'
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
  <img
    src='/public/logo-deepfried.png'
    alt='fairy astronaut logo'
    height='200px'
    class='logo'
  />
</header>
