---
// import '../styles/global.css';
---

<div class='nav-links'>
  <a href='/'>Home</a>
  <a href='/shop/'>Shop</a>
  <a href='mailto:fairyastronautbooking@gmail.com'>Contact</a>
  <!-- <a href='/about/'>About</a> -->
  <!-- <a href='/blog/'>Blog</a> -->
</div>
